.team-member-avatar {
  border-radius: 100%;
  width: 15%;
  max-width: 100vw;
  min-width: 128px;
  bottom: 35%;
  position: absolute;
  box-shadow: rgba(100, 100, 100, 0.25) 1.5px 1.5px;
  right: 0%;
}

.avatar-contain {
  height: 15%;
}

.team-member {
  position: relative;
  padding: 15% 0;
  margin: 5px 0;
}

.team-member-brick {
  height: 90px;
  background-color: rgb(114, 137, 218);
  border-radius: 9px;
  padding: 15px;
  color: #fff;
  box-shadow: rgba(100, 100, 100, 0.25) 3.5px 3.5px 0 0;
}

.discrim {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 50%;
}

.doc-spacing {
  height: 1rem;
}
