html
  head
    title #{htmlWebpackPlugin.options.title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .page-content
      .page-navbar
         nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
           a(href="#", data-target="/").navbar-brand.intellectual-link Elixire
           button(type="button", data-toggle="collapse", data-target="#homenav").navbar-toggler
             span.navbar-toggler-icon
           div.collapse.navbar-collapse#homenav
             ul.navbar-nav.mr-auto
               li.nav-item
                 a(href="#", data-target="/").nav-link.intellectual-link Home
               li.nav-item
                 a(href="#", data-target="/about.html").nav-link.intellectual-link About Us
               li.nav-item.logged-in-only
                 a(href="#", data-target="/upload.html").nav-link.intellectual-link Upload
               li.nav-item.logged-in-only
                 a(href="#", data-target="/shorten.html").nav-link.intellectual-link Shorten
             //- This should be on far-right side
             ul.navbar-nav 
               li.nav-item.logged-out-only
                 a(href="#", data-target="/login.html").nav-link.intellectual-link Login
               li.nav-item.logged-in-only.dropdown
                 a(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").nav-link.dropdown-toggle#nav-account Account
                 div.dropdown-menu.dropdown-menu-right
                   a(href="#", data-target="/account.html").dropdown-item.intellectual-link My Account
                   a(href="#", data-target="/list.html").dropdown-item.intellectual-link File List
                   a(href="#", data-target="/shortlist.html").dropdown-item.intellectual-link Shortened Links
                   a(href="#", data-target="/logout.html").dropdown-item.intellectual-link Log out

      .error-body
        h2 Oopsie Woopsie!
        p.error-text
          | We did a fucky wucky UwU! A real bingo bango! Ouw engineews awe working 
          b
            i VEWY
          |  hawd to fix it :3! Why don't you join ouw 
          a(href="") RP Discord server
          |  so we can help you OwO
        p.error-info
          b Hewwo! Dis should be included in youw error repowt.
          br
          | Error thrown: 
          code#error-info undefined
          |  in 
          code#filename undefined.js:1:1
          
      .access-denied
        .garfield-column
           img(src=require("@/images/garfield-access-denied.svg"), alt="Access denied")
        .error-column
           h1 Access Denied!
           div.error-description
             | Looks like you're not allowed in here!
             br
             | Have you tried 
             a(href="/login.html")#garfield-login logging in
             | ?

      .body
        //- Errors and stuff go in this div.
        #alert-area
        .content
        //- Page stuff goes in here.
        block content
